{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Biz haqimizda</title>
{% endblock title %}


{% block content %}

        <!--================Home Banner Area =================-->
        <section class="banner_area">
            <div class="banner_inner d-flex align-items-center">
            	<div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
				<div class="container">
					<div class="banner_content">
						<div class="page_link">
							<a style="color: #ffffff; text-shadow: 0px 2px 2px red;" href="{% url 'index' %}">Bosh sahifa</a>
							<a style="color: #ffffff; text-shadow: 0px 2px 2px red;" href="{% url 'about' %}">Biz haqimizda</a>
						</div>
						<h2 style="color: #f5204b; text-shadow: 0px 2px 5px white;">Biz haqimizda</h2>
					</div>
				</div>
            </div>
        </section>
        <!--================End Home Banner Area =================-->
        
        <!--================Welcome Area =================-->
<section class="welcome_area p_120">
	<div class="container">
		<div class="row welcome_inner">
			<div class="col-lg-6">
				<div class="welcome_img">
					<img class="img-fluid" src="{% static 'img\about.jpg' %}" alt="">
				</div>
			</div>
			<div class="col-lg-6">
				<div class="welcome_text">
					<h4>"Farovon kelajak" xususiy korxonasi</h4>
					<p>Farg'ona viloyati Rishton tuman Davlat xizmatlari markazi 
					tomonidan 2018-yil 16-iyulda 622572-reestr raqam bilan davlat ro'yxatidan o'tgan.<br>
					Korxona raxbari: Sotiboldiyev Erkinjon Abdurashid o'g'li</p>
					<div class="row">
						
						<div class="col-sm-4">
							<div class="wel_item">
								<i class="lnr lnr-database"></i>
								<h4>{{posts.count}}</h4>
								<a href="{% url 'blogpost' %}"> <p>postlar</p></a>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="wel_item">
								<i class="lnr lnr-book"></i>
								<h4>{{elonlar.count}}</h4>
								<a href="{% url 'properties' %}"><p>berilgan e'lonlar</p></a>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="wel_item">
								<i class="lnr lnr-users"></i>
								<h4>{{user.count}}</h4>
								<p>foydalanuvchilar</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
        <!--================End Welcome Area =================-->
        
        <!--================Feature Area =================-->
        {% comment %} <section class="feature_area p_120">
        	<div class="container">
        		<div class="main_title">
        			<h2>Why we are the best</h2>
        			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
        		</div>
        		<div class="row feature_inner">
        			<div class="col-lg-4 col-sm-6">
        				<div class="feature_item">
        					<h4><i class="lnr lnr-user"></i>Expert Technicians</h4>
        					<p>Usage </p>
        				</div>
        			</div>
        			<div class="col-lg-4 col-sm-6">
        				<div class="feature_item">
        					<h4><i class="lnr lnr-license"></i>Professional Service</h4>
        					<p>Usage of the Internet is becoming more common due to rapid advancement of technology and power.</p>
        				</div>
        			</div>
        			<div class="col-lg-4 col-sm-6">
        				<div class="feature_item">
        					<h4><i class="lnr lnr-phone"></i>Great Support</h4>
        					<p>Usage of the Internet is becoming more common due to rapid advancement of technology and power.</p>
        				</div>
        			</div>
        			<div class="col-lg-4 col-sm-6">
        				<div class="feature_item">
        					<h4><i class="lnr lnr-rocket"></i>Technical Skills</h4>
        					<p>Usage of the Internet is becoming more common due to rapid advancement of technology and power.</p>
        				</div>
        			</div>
        			<div class="col-lg-4 col-sm-6">
        				<div class="feature_item">
        					<h4><i class="lnr lnr-diamond"></i>Highly Recomended</h4>
        					<p>Usage of the Internet is becoming more common due to rapid advancement of technology and power.</p>
        				</div>
        			</div>
        			<div class="col-lg-4 col-sm-6">
        				<div class="feature_item">
        					<h4><i class="lnr lnr-bubble"></i>Positive Reviews</h4>
        					<p>Usage of the Internet is becoming more common due to rapid advancement of technology and power.</p>
        				</div>
        			</div>
        		</div>
        	</div>
        </section> {% endcomment %}
        <!--================End Feature Area =================-->
        
        <!--================Testimonials Area =================-->
        <section class="testimonials_area p_120 mb-5">
        	<div class="container">
        		<div class="row testimonials_inner">
        			<div class="col-lg-4">
        				<div class="testi_left_text">
        					<h4>Bizning jamoa</h4>
        					<p></p>
        				</div>
        			</div>
        			<div class="col-lg-8">
        				<div class="testi_slider owl-carousel">
							{% for i in user %}
							{% if i.is_staff %}
							<div class="item">
								<div class="testi_item">
									<img src="{{i.userdetail.image.url}}" height="55px" alt="">
									<h4>{{ i.first_name }} {{ i.last_name}}</h4>
									<h6>Tel: {{ i.userdetail.mobile }}</h6>
									<p>Manzil: {{i.userdetail.manzil}}</p>
								</div>
							</div>
							{% endif%}
							{% endfor%}
							
						</div>
        			</div>
        		</div>
        	</div>
        </section>
        <!--================End Testimonials Area =================-->
        
        <!--================Clients Logo Area =================-->
        {% comment %} <section class="clients_logo_area p_120">
        	<div class="container">
        		<div class="main_title">
        			<h2>Reliable Customers</h2>
        			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
        		</div>
        		<div class="clients_slider owl-carousel">
        			<div class="item">
        				<img src="{% static 'img/clients-logo/c-logo-1.png' %}" alt="">
        			</div>
        			<div class="item">
        				<img src="{% static 'img/clients-logo/c-logo-2.png' %}" alt="">
        			</div>
        			<div class="item">
        				<img src="{% static 'img/clients-logo/c-logo-3.png' %}" alt="">
        			</div>
        			<div class="item">
        				<img src="{% static 'img/clients-logo/c-logo-4.png' %}" alt="">
        			</div>
        			<div class="item">
        				<img src="{% static 'img/clients-logo/c-logo-5.png' %}" alt="">
        			</div>
        		</div>
        	</div>
        </section> {% endcomment %}
        <!--================End Clients Logo Area =================-->
        
{% endblock content %}