{% extends "base.html" %}
{% load static %}

{% block title %}
<title>Bosh sahifaga hush kelibsiz</title>
{% endblock title %}

{% block content %}
        <!--================Home Banner Area =================-->
<section class="home_banner_area">
	<div class="banner_inner d-flex align-items-center">
		<div class="container" >
			<div class="banner_content">
				<h3 style="text-shadow: 0px 1px 5px white; margin-bottom: 0px">FAROVON KELAJAK</h3>
				<h5 style="text-shadow: 0px 2px 2px red;">XUSUSIY KORXONASINING RASMIY WEB SAYTIGA HUSH KELIBSIZ!</h5><br>
				<a class="main_btn" href="{% url 'about' %}">Batafsil..</a>
			</div>
		</div>
	</div>
</section>
<!--================End Home Banner Area =================-->

    
        <!--================Properties Area =================-->
<div class="container" style="margin-bottom: 45px">

	<div class="main_title">
		<h2>BIZNING XIZMATLARIMIZDAN FOYDALANING</h2>
		<p></p>
	</div>
    {% if elon %}
    <div class="row properties_inner">
    {% for i in elon %}
        			<div class="col-lg-4">
        				<div class="properties_item">
        					<div class="pp_img">
        						<img class="img-fluid" src="{{ i.rasm1.url }}" alt="" style="border-radius: 13px; height: 215px; width: 100%">
        					</div>
        					<div class="pp_content">
        						<a href="#"><h4>Material: {{ i.metall }}</h4></a>
        						<div class="tags">
        							<a>Issiqxona maydoni: {{ i.m2 }}m<sup style="color: rgb(92, 87, 87);" >2</sup></a>
                                    {% if i.eskiNarx %}
        							<a >eski narx:  <del style="color: rgb(39, 38, 38);">{{i.eskiNarx}}</del> so'm</a>
                                    {% endif %}	
        							<a >Narx:  {{i.hozirgiNarx}} so'm</a>
        						</div>
        						<div class="pp_footer">
        							sana: {{ i.sana|date:"d M Y" }}
        							<a class="main_btn" href="{% url 'oneannouncement' i.id %}">Batafsil..</a>
        						</div>
                                <p>Joylashtirdi: {{ i.author.first_name }} {{ i.author.last_name }}</p> 
        					</div>
        				</div>
        			</div>
    {% endfor %}
    </div>
		
    {% else %}
    <h1> E'lomlar hali mavjud emas!</h1>
    {% endif %}
</div>
        <!--================End Properties Area =================-->
        <!--================Welcome Area =================-->
<section class="welcome_area p_120">
	<div class="container">
		<div class="row welcome_inner">
			<div class="col-lg-6">
				<div class="welcome_img">
					<img class="img-fluid" src="{% static 'img\about.jpg' %}" alt="">
				</div>
			</div>
			<div class="col-lg-6">
				<div class="welcome_text">
					<h4>"Farovon kelajak" xususiy korxonasi</h4>
					<p>Farg'ona viloyati Rishton tuman Davlat xizmatlari markazi 
					tomonidan 2018-yil 16-iyulda 622572-reestr raqam bilan davlat ro'yxatidan o'tgan.<br>
					Korxona raxbari: Sotiboldiyev Erkinjon Abdurashid o'g'li</p>
					<div class="row">
						
						<div class="col-sm-4">
							<div class="wel_item">
								<i class="lnr lnr-database"></i>
								<h4>{{posts.count}}</h4>
								<a href="{% url 'blogpost' %}"> <p>postlar</p></a>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="wel_item">
								<i class="lnr lnr-book"></i>
								<h4>{{elonlar.count}}</h4>
								<a href="{% url 'properties' %}"><p>berilgan e'lonlar</p></a>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="wel_item">
								<i class="lnr lnr-users"></i>
								<h4>{{user.count}}</h4>
								<p>foydalanuvchilar</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--================End Welcome Area =================-->
    
        <!--================Testimonials Area =================-->
        <section class="testimonials_area p_120 mb-5">
        	<div class="container">
        		<div class="row testimonials_inner">
        			<div class="col-lg-4">
        				<div class="testi_left_text">
        					<h4>Bizning jamoa</h4>
        					<p></p>
        				</div>
        			</div>
        			<div class="col-lg-8">
        				<div class="testi_slider owl-carousel">
							{% for i in user %}
							{% if i.is_staff %}
							<div class="item">
								<div class="testi_item">
									<img src="{{i.userdetail.image.url}}" height="55px" alt="">
									<h4>{{ i.first_name }} {{ i.last_name}}</h4>
									<h6>Tel: {{ i.userdetail.mobile }}</h6>
									<p>Manzil: {{i.userdetail.manzil}}</p>
								</div>
							</div>
							{% endif%}
							{% endfor%}
							
						</div>
        			</div>
        		</div>
        	</div>
        </section>
        <!--================End Testimonials Area =================-->
        
        <!--================Cities Area =================-->
        
        <!--================End Cities Area =================-->
        
        <!--================Feature Area =================-->
        {% comment %} <section class="feature_area p_120">
        	<div class="container">
        		<div class="main_title">
        			<h2>Why we are the best</h2>
        			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
        		</div>
        		<div class="row feature_inner">
        			<div class="col-lg-4 col-md-6">
        				<div class="feature_item">
        					<h4><i class="lnr lnr-user"></i>Expert Technicians</h4>
        					<p>Usage of the Internet is becoming more common due to rapid advancement of technology and power.</p>
        				</div>
        			</div>
        			<div class="col-lg-4 col-md-6">
        				<div class="feature_item">
        					<h4><i class="lnr lnr-license"></i>Professional Service</h4>
        					<p>Usage of the Internet is becoming more common due to rapid advancement of technology and power.</p>
        				</div>
        			</div>
        			<div class="col-lg-4 col-md-6">
        				<div class="feature_item">
        					<h4><i class="lnr lnr-phone"></i>Great Support</h4>
        					<p>Usage of the Internet is becoming more common due to rapid advancement of technology and power.</p>
        				</div>
        			</div>
        			<div class="col-lg-4 col-md-6">
        				<div class="feature_item">
        					<h4><i class="lnr lnr-rocket"></i>Technical Skills</h4>
        					<p>Usage of the Internet is becoming more common due to rapid advancement of technology and power.</p>
        				</div>
        			</div>
        			<div class="col-lg-4 col-md-6">
        				<div class="feature_item">
        					<h4><i class="lnr lnr-diamond"></i>Highly Recomended</h4>
        					<p>Usage of the Internet is becoming more common due to rapid advancement of technology and power.</p>
        				</div>
        			</div>
        			<div class="col-lg-4 col-md-6">
        				<div class="feature_item">
        					<h4><i class="lnr lnr-bubble"></i>Positive Reviews</h4>
        					<p>Usage of the Internet is becoming more common due to rapid advancement of technology and power.</p>
        				</div>
        			</div>
        		</div>
        	</div>
        </section> {% endcomment %}
        <!--================End Feature Area =================-->
        
        
        <!--================Clients Logo Area =================-->
        {% comment %} <section class="clients_logo_area p_120">
        	<div class="container">
        		
        	</div>
        </section> {% endcomment %}
        <!--================End Clients Logo Area =================-->

{% endblock content %}        
        