{% extends 'base.html' %}
{% load static %}


{% block content %}  
        <!--================Home Banner Area =================-->
        <section class="banner_area">
            <div class="banner_inner d-flex align-items-center">
            	<div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
				<div class="container">
					<div class="banner_content">
						<div class="page_link">
							<a href="index.html">Home</a>
							<a href="blog.html">Blog</a>
							<a href="single-blog.html">Blog Details</a>
						</div>
						<h2>Blog Details</h2>
					</div>
				</div>
            </div>
        </section>
        <!--================End Home Banner Area =================-->
        
        <!--================Blog Area =================-->
        <section class="blog_area single-post-area p_120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 posts-list">
                        <div class="single-post row">
                            <div class="col-lg-12">
                                <div class="feature-img">
                                    {% if post.post_img.url %}<img class="img-fluid" src="{{post.post_img.url}}" alt="">{% endif %}
                                </div>									
                            </div>
                            <div class="col-lg-3  col-md-3">
                                <div class="blog_info text-right">
                                    {% comment %} <div class="post_tag">
                                        <a href="#">Food,</a>
                                        <a class="active" href="#">Technology,</a>
                                        <a href="#">Politics,</a>
                                        <a href="#">Lifestyle</a>
                                    </div> {% endcomment %}
                                    <ul class="blog_meta list">
                                        <li>
                                            <a href="#">{% if post.author.first_name %} {{post.author.first_name}}{% endif %} {% if post.author.last_name %}{{post.author.last_name}}{% endif %}
                                            <i class="lnr lnr-user"></i></a></li>
                                        <li>
                                            <a href="#">{{post.date|date:"d M Y"}}
                                            <i class="lnr lnr-calendar-full"></i></a></li>
                                        <li>
                                            <a href="#">{{ post.post_view }} Views
                                            <i class="lnr lnr-eye"></i></a></li>
                                        <li>
                                            <a href="#">{{ comments.count }} Comments
                                            <i class="lnr lnr-bubble"></i></a></li>
                                    </ul>
                                    <ul class="social-links">
                                        {% if post.author.userdetail.facebook %}<li><a href="{{post.author.userdetail.facebook}}"><span class="iconify" data-icon="fa-facebook" data-inline="false"></span></a></li>{% endif %}
                                        {% if post.author.userdetail.tiktok %}<li><a href="{{post.author.userdetail.tiktok}}"><span class="iconify" data-icon="fa-brands:tiktok" data-inline="false"></span></a></li>{% endif %}
                                        {% if post.author.userdetail.instagram %}<li><a href="{{post.author.userdetail.instagram}}"><span class="iconify" data-icon="fa-instagram" data-inline="false"></span></a></li>{% endif %}
                                        {% if post.author.userdetail.telegram %}<li><a href="{{post.author.userdetail.telegram}}"><span class="iconify" data-icon="fa-telegram" data-inline="false"></span></a></li>{% endif %}
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-9 col-md-9 blog_details">
                                {% if post.title %}<h2>{{post.title}}</h2>{% endif %}
                                {% if post.text_body1 %}<p class="excert">{{post.text_body1|safe}}</p>{% endif %}
                                
                            </div>
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-6">
                                        {% if post.post_img2.url %}<img class="img-fluid" src="{{post.post_img2.url}}" alt="">{% endif %}
                                    </div>
                                    <div class="col-6">
                                        {% if post.post_img3.url %}<img class="img-fluid" src="{{post.post_img3.url}}" alt="">{% endif %}
                                    </div>	
                                    <div class="col-lg-12 mt-25">
                                        {% if post.text_body2 %}<p>{{post.text_body2|safe}}</p>	{% endif %}
                                    </div>									
                                </div>
                            </div>
                        </div>
                        <div class="navigation-area">
                        
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                                    <div class="thumb">
                                        <a href="#"><img class="img-fluid" src="{% static 'img/blog/prev.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="arrow">
                                        <a href="#"><span class="lnr text-white lnr-arrow-left"></span></a>
                                    </div>
                                    <div class="detials">
                                        <p>Prev Poste</p>
                                        <a href="#"><h4>Space The Final Frontier</h4></a>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                                    <div class="detials">
                                        <p>Next Post</p>
                                        <a href="#"><h4>Telescopes 101</h4></a>
                                    </div>
                                    <div class="arrow">
                                        <a href="#"><span class="lnr text-white lnr-arrow-right"></span></a>
                                    </div>
                                    <div class="thumb">
                                        <a href="#"><img class="img-fluid" src="{% static 'img/blog/next.jpg' %}" alt=""></a>
                                    </div>										
                                </div>									
                            </div>
                        </div>

                        <div class="comment-form">
                            <!-- <form>
                                <div class="form-group form-inline">
                                  <div class="form-group col-lg-6 col-md-6 name">
                                    <input type="text" class="form-control" id="name" {% if request.user.is_authenticated%}  value="{{request.user.first_name}} {{request.user.last_name}}" {% else %} placeholder="Ism, familyangizni kiriting..." {% endif %} onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Name'">
                                  </div>
                                  <div class="form-group col-lg-6 col-md-6 email">
                                    <input type="email" class="form-control" id="email" {% if request.user.is_authenticated%}  value="{{request.user.email}}" {% else %} placeholder="Elektron pochtangizni kiriting..." {% endif %} onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'">
                                  </div>										
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="subject" placeholder="Subject" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Subject'">
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control mb-10" rows="5" name="message" placeholder="Messege" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'" required=""></textarea>
                                </div>
                                <a href="#" class="primary-btn submit_btn">Izox qoldirish</a>	
                            </form> -->
                            <div class="comments-area">
                                <h3 class="mb-5">izohlar soni {{ comments.count }} ta</h3>
                                
                                {% for comment in comments %}
                                <div class="comment-list">
                                    <div class="single-comment justify-content-between d-flex">
                                        <div class="user justify-content-between d-flex">
                                            <div class="thumb">
                                                <img src="{{comment.author.userdetail.image.url}}" width="70" height="60" alt="Image placeholder">
                                            </div>
                                            <div class="desc">
                                                <h3>{{ comment.author.first_name }} {{ comment.author.last_name }}</h3>
                                                <div class="meta">{{comment.created_on|date:"d.m.Y.  H:i:s"}}</div>
                                                <p>{{comment.body}}</p>
                                            </div>
                                            <div class="reply-btn">
                                                <button type="button" name="button" class="btn-reply text-uppercase">Reply</button>
                                            </div>
                                        </div>
                                    </div>                                      
                                  
                                    <div class="comment-list left-padding" style="display:none">
                                            {% for reply in comment.replies.all %}
                                        <div class="single-comment justify-content-between d-flex">
                                            <div class="user justify-content-between d-flex">
                                                <div class="thumb">
                                                    <img src="{{reply.author.userdetail.image.url}}" width="70" height="60" alt="Image placeholder">
                                                </div>
                                                <div class="desc">
                                                    <h3 style="font-size:14px;">{{ reply.author.first_name }} {{ reply.author.last_name }}</h3>
                                                    <small><div class="meta h1" style="font-size:14px;">{{reply.created_on|date:'d M Y H:i:s'}}</div></small>
                                                    <p style="font-size:14px;">{{reply.body}}</p>
                                                </div>
                                            </div>
                                        </div>
                                            {% endfor %}
                                        <div class="form-group row">
                                        {% if new_comment %}
                                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                            Your comment is awaiting moderation
                                            </div>
                                        {% else %}
                                        <div class="form-group row">
                                            <form method="POST"  class="p-3 ml-5 bg-light reply-form" action="">
                                            {% csrf_token %}
                                            <input type="hidden" name="comment_id" value="{{ comment.id }}">
                                            {% if not request.user.is_authenticated %}
                                                <div class="form-group">
                                                {{comment_form.body}}
                                                </div>
                                                <a class="btn btn-outline-info" href="{% url 'sign_in' %}?next={{request.path}}">Izoh qoldirish uchun ro'yhatdan o'ting !</a>
                                            {% else %}
                                                <div class="form-group">
                                                <label for="message">Message</label>
                                                <input type="hidden" name="name" value="{{request.user.username}}">
                                                <input type="hidden" name="email" value="{{request.user.email}}">
                                                {{comment_form.body}}
                                                </div>
                                                <div class="form-group m-0">
                                                <input type="submit" value="Send" class="primary-btn submit_btn">
                                                </div>
                                            {% endif %}
                                            </form>
                                        </div>
                                      {% endif %}
                                      </div>
                                  </div>
                                </div>
                                {% endfor %}
                                <!-- END comment-list -->
                                {% if new_comment %}
                                  <div class="modal modal-success modal-dismissible fade show" role="modal">
                                    Your comment is awaiting moderation
                                  </div>
                                  
                                {% else %}
                                <div class="comment-form-wrap">
                                  
                                  <form method="POST"  class=" bg-light comment-form" action="">
                                    {% csrf_token %}
                                    {% if not request.user.is_authenticated %}
                                        <div class="form-group">
                                          <label for="message">Xabar matni</label>
                                          {{comment_form.body}}
                                        </div>
                                        <a class="btn btn-outline-info" href="{% url 'sign_in' %}?next={{request.path}}">Izoh qoldirish uchun ro'yhatdan o'ting !</a>
                                    {% else %}
                                        <div class="form-group">
                                          <label for="message">Message</label>
                                          <input type="hidden" name="name" value="{{request.user.username}}">
                                          <input type="hidden" name="email" value="{{request.user.email}}">
                                          {{comment_form.body}}
                                        </div>
                                        <div class="form-group">
                                          <input type="submit" value="Izox qoldirish" class="primary-btn submit_btn">
                                        </div>
                                    
                                      
                                   {% endif %}
                                    </form>
                                    
                                  </div>
                                  {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="blog_right_sidebar">
                            <aside class="single_sidebar_widget search_widget">
                                <form action="{% url 'search_post' %}" method="get">{% csrf_token %}
                                <div class="input-group">
                                        <input type="search" class="form-control" name="search" placeholder="Post qidirish...">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="submit"><i class="lnr lnr-magnifier"></i></button>
                                        </span>
                                    </div><!-- /input-group -->
                                <div class="br"></div>
                                </form>
                            </aside>
                            <aside class="single_sidebar_widget author_widget">
                                <img class="author_img rounded-circle" src="{{post.author.userdetail.image.url}}" width="50%" height='120px' alt="">
                                <h4>{% if post.author.first_name %} {{post.author.first_name}}{% endif %} {% if post.author.last_name %}{{post.author.last_name}}{% endif %}</h4>
                                <p>Senior blog writer</p>
                                <div class="social_icon">
                                    {% if post.author.userdetail.facebook %}<a href="{{ post.author.userdetail.facebook }}"><span class="iconify" data-icon="fa-facebook" data-inline="false"></span></a>{% endif %} 
                                            {% if post.author.userdetail.tiktok %}<a href="{{ post.author.userdetail.tiktok }}" ><span class="iconify" data-icon="fa-brands:tiktok" data-inline="false"></span></a>{% endif %}
                                            {% if post.author.userdetail.instagram %}<a href="{{ post.author.userdetail.instagram }}"><span class="iconify" data-icon="fa-instagram" data-inline="false"></span></a>{% endif %}
                                            {% if post.author.userdetail.telegram %}<a href="{{ post.author.userdetail.telegram }}"><span class="iconify" data-icon="fa-telegram" data-inline="false"></span></a>{% endif %}
                                </div>
                                <p>Boot camps have its supporters andit sdetractors. Some people do not understand why you should have to spend money on boot camp when you can get. Boot camps have itssuppor ters andits detractors.</p>
                                <div class="br"></div>
                            </aside>
                            <aside class="single_sidebar_widget popular_post_widget">
                                <h3 class="widget_title">Popular Posts</h3>
                                <div class="media post_item">
                                    <img src="{% static 'img/blog/popular-post/post1.jpg' %}" alt="post">
                                    <div class="media-body">
                                        <a href="blog-details.html"><h3>Space The Final Frontier</h3></a>
                                        <p>02 Hours ago</p>
                                    </div>
                                </div>
                                <div class="media post_item">
                                    <img src="{% static 'img/blog/popular-post/post2.jpg' %}" alt="post">
                                    <div class="media-body">
                                        <a href="blog-details.html"><h3>The Amazing Hubble</h3></a>
                                        <p>02 Hours ago</p>
                                    </div>
                                </div>
                                <div class="media post_item">
                                    <img src="{% static 'img/blog/popular-post/post3.jpg' %}" alt="post">
                                    <div class="media-body">
                                        <a href="blog-details.html"><h3>Astronomy Or Astrology</h3></a>
                                        <p>03 Hours ago</p>
                                    </div>
                                </div>
                                <div class="media post_item">
                                    <img src="{% static 'img/blog/popular-post/post4.jpg' %}" alt="post">
                                    <div class="media-body">
                                        <a href="blog-details.html"><h3>Asteroids telescope</h3></a>
                                        <p>01 Hours ago</p>
                                    </div>
                                </div>
                                <div class="br"></div>
                            </aside>
                            <aside class="single_sidebar_widget ads_widget">
                                <a href="#"><img class="img-fluid" src="{% static 'img/blog/add.jpg' %}" alt=""></a>
                                <div class="br"></div>
                            </aside>
                            <aside class="single_sidebar_widget post_category_widget">
                                <h4 class="widget_title">Post Catgories</h4>
                                <ul class="list cat-list">
                                    {% if categories %}
                                    {% for categorie in categories %}
                                    <li>
                                        <a href="#" class="d-flex justify-content-between">
                                            <p>{{categorie.name}}</p>
                                            <p>{{categorie.post_set.all.count}}</p>
                                        </a>
                                    </li>
                                    {% endfor %}
                                    {% endif %}						
                                </ul>
                                <div class="br"></div>
                            </aside>
                            <aside class="single-sidebar-widget newsletter_widget">
                                <h4 class="widget_title">Newsletter</h4>
                                <p>
                                Here, I focus on a range of items and features that we use in life without
                                giving them a second thought.
                                </p>
                                <div class="form-group d-flex flex-row">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                                        </div>
                                        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Enter email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email'">
                                    </div>
                                    <a href="#" class="bbtns">Subcribe</a>
                                </div>	
                                <p class="text-bottom">You can unsubscribe at any time</p>	
                                <div class="br"></div>							
                            </aside>
                            <aside class="single-sidebar-widget tag_cloud_widget">
                                <h4 class="widget_title">Tag Cloud</h4>
                                <ul class="list">
                                {% for tag in post.tags.all %}
                                    <li><a href="{% url 'tagged' tag.slug %}" >#{{ tag }}</a></li>
                                {% endfor %}
                                </ul>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================Blog Area =================-->
        
{% endblock content %}